<%- include('../ui/sidebar2.ejs') %>
<title>Add News</title>

<style>
  .news_list {
    padding: 60px 30px;
    margin-top: 10px;
    /* margin-bottom: -50px; */
  }

  .large-checkbox {
    transform: scale(1.5);
    /* Increase the checkbox size */
    margin-right: 10px;
    /* Add a bit of spacing */
    margin-top: 10px;
  }

  .larger-font {
    font-size: 1.5em;
  }
</style>


<div class="col-lg-12 news_list">
  <div class="card card-outline card-primary">
    <div class="card-header">
      <div class="card-tools">
        <!-- <a class="btn btn-block btn-sm btn-default btn-flat border-primary" data-bs-toggle="modal" data-bs-target="#news_content"><i class="fa-solid fa-plus"></i> Add News</a> -->
      </div>
    </div>
    <div class="card-body" style="overflow-y: auto;">
      <h3 class="mb-4 control-label fw-bold text-muted" style="text-align: center">
        News Details
      </h3>

      <% if( user.userType == "Admin" ){%>
      <form action="/users/addNews" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label class="control-label fw-bold">News Title:</label>
          <input type="text" name="newsTitle" class="form-control form-control mb-3" placeholder="Title of the News" required />
        </div>
        <div class="form-group">
          <label class="control-label fw-bold">News Content:</label>
          <textarea name="newsContent" cols="30" rows="4" class="form-control mb-3 summernote" placeholder="Details of the news" required></textarea>
        </div>
        <div class="form-group">
          <label class="control-label fw-bold">News Picture:</label>
          <input type="file" name="newsImage" class="form-control form-control" multiple accept="image/*" required />
          <span class="mb-3" style="font-size: small; font-weight: bold; color: red;">*It only accept image</span>
        </div>

        <div style="float: right;">
          <button type="submit" class="btn btn-success">
            Add News
          </button>
          <a href="/users/cancelNews" type="button" class="btn btn-secondary">
            Cancel
          </a>
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
            Cancel
          </button> -->
        </div>
      </form>
      <%}%>

      <% if( user.userType == "School Head" ){%>
        <form action="/users/addSchoolNews" method="POST" enctype="multipart/form-data">
          <input type="text" name="userSchool" value="<%= user.userSchool %>" hidden>
          <div class="form-group">
            <label class="control-label fw-bold">News Title:</label>
            <input type="text" name="newsTitle" class="form-control form-control mb-3" placeholder="Title of the News" required />
          </div>
          <div class="form-group">
            <label class="control-label fw-bold">News Content:</label>
            <textarea name="newsContent" cols="30" rows="4" class="form-control mb-3 summernote" placeholder="Details of the news" required></textarea>
          </div>
          <div class="form-group">
            <label class="control-label fw-bold">News Picture:</label>
            <input type="file" name="newsImage" class="form-control form-control" multiple accept="image/*" required />
            <span class="mb-3" style="font-size: small; font-weight: bold; color: red;">*It only accept image</span>
          </div>

          <div style="float: right;">
            <button type="submit" class="btn btn-success">
              Add News
            </button>
            <a href="/users/cancelSchoolNews" type="button" class="btn btn-secondary">
              Cancel
            </a>
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
              Cancel
            </button> -->
          </div>
        </form>
        <% }%>

    </div>
  </div>
</div>

<%- include('../ui/footer2.ejs') %>