<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/jpg" href="/public/asset/DepEd Seal.png"/>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <!-- Option 1: Include in HTML -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  <title>Register Account</title>
</head>
<style>
  body{
    background-color: #b9ccff;
    background-image: url(/public/asset/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .center {
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 10px;
    padding: 60px 30px;
  }
  .design{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
</style>

<body>
  <div class="col-lg-10 center">
    <div class="card card-outline card-primary design">
      <div class="card-header">
        <div class="card-tools">

        </div>
      </div>
      <div class="card-body">
        <form action="/users/register" method="POST">
          <div class="row">
            <h3 class="mt-2 mb-4 control-label fw-bold text-muted" style="text-align: center">
              Register an Account
            </h3>

            <!-- <%- include('../views/partials/messages.ejs')%> -->
            <b class="text-muted">User's Information</b>
            <hr />
            <div class="col-md-6 border-right">
              <div class="form-group">
                <label  class="control-label fw-bold">Title of the Training:</label>
                <input type="text" name="userName" class="form-control form-control mb-3" placeholder="What is the title of the training" required />
              </div>
              <div class="form-group">
                <label  class="control-label fw-bold">Start Date of the Training:</label>
                <input type="date" name="userName" class="form-control form-control mb-3" required />
              </div>
              <div class="form-group">
                <label class="control-label fw-bold">End Date of the Training:</label>
                <input type="date" name="userPosition" class="form-control form-control mb-3" required />
              </div>
              <div class="form-group">
                <label class="control-label fw-bold">Number of Hours:</label>
                <input type="number" name="userPosition" class="form-control form-control mb-3"  placeholder="How long is the Training" min="1" required />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label  class="control-label fw-bold">Sponsor Agency:</label>
                <input type="email" class="form-control form-control mb-3" name="userEmail" placeholder="Who Sponsor the Training" required />
              </div>
              <div class="form-group mb-3">
                <label class="control-label fw-bold">Level of Training:</label>
                <select class="form-select" aria-label="Default select example" name="userDepartment" id="" required >
                  <option value="Division">Division</option>
                  <option value="Regional">Regional</option>
                  <option value="National">National</option>
                  <option value="International">International</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label fw-bold">Training Certificate:</label>
                <input type="file" name="credential[0][trainingCertificate]" class="trainingCertificate form-control" accept="application/pdf" required>
                <span class="mb-3" style="font-size: small; font-weight: bold; color: red;">*It only accept PDF File</span>
              </div>
            </div>
          </div>
          <hr />
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-success" style="margin-right: 5px;">
              Submit
            </button>
            <button class="btn btn-secondary" type="button" onclick="location.href = '/login'">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script>
  function togglePasswordVisibility() {
    var checkbox = document.getElementById("seePassword");
    var passwordInput = document.getElementById("userPass");
    var password2Input = document.getElementById("userPass2");

    var showPassword = checkbox.checked;

    passwordInput.type = checkbox.checked ? "text" : "password";
    password2Input.type = checkbox.checked ? "text" : "password";
  }

  function checkPasswordMatch() {
    var userPass = document.getElementById("userPass").value;
    var userPass2 = document.getElementById("userPass2").value;
    var message = document.getElementById("passwordMatchMessage");

    if (userPass === userPass2) {
      message.style.color = "green";
      message.innerHTML = "* Passwords match!";
    } else {
      message.style.color = "red";
      message.innerHTML = "* Passwords do not match.";
    }
    if (!userPass && !userPass2) {
      message.style.display = "none"
    } else {
      message.style.display = "block"
    }
  }
</script>

</html>